*{
  font-family: sans-serif;
  text-align: center;
};

.delete-button{
  background-color: #4050b5;
  color: white;
};

.product{
  display: inline-block;
}

.main-div{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.PlayerList{
  margin-top: 10px;
}

.players{
  text-decoration: none;
  color: black;
}

.navbar-item{
  color: black;
  font-size: x-large;
}

.main-navbar{
  font-size: x-large;
}

.player-form{
  margin-top: 10px;
}